
        <!-- <div class="row about-section">
          <div class="col-md-12 col-lg-4 d-flex align-items-center">
            <div class="about-content mr-2 shadow-lg p-5 my-5 bg-white rounded" id="bob" >
              <img src="Flower.png" class="img-fluid" alt="">
              <h2>About our wedding planner</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="col-md-12 col-lg-8 d-flex justify-content-end" id="imgg">
            <img src="Group 15112 (1).png" class="img-fluid" alt="About Us Image" id="photo">
          </div>
        </div> -->

        <div class="container-fluid">
          <!-------------------start header line ------------------------->
          <div class="d-flex my-5 flex-row align-items-center">
            <span class="w-44"></span>
            <h2 class="ms-3 fw-bolder py-4 fs-3">About Us </h2>
          </div>
          <!-------------------end header line ------------------------->

          <div class="d-flex flex-row align-items-center justify-content-center">
            <div class="d-flex flex-column flex-lg-row flex-md-column flex-sm-column align-items-center justify-content-center w-75 rounded light-gray-color lav-background px-1 px-md-5 px-lg-5 px-sm-0" >
              <div class="imges w-25 mx-5 mx-lg-5 mx-lg-4 mx-sm-1 pt-5 mt-3 mb-0">
                <div class="img-card2">
                  <img src="../../../assets/img/img_placeholder.png" class="img-thumbnail">
                </div>

                <div class="img-card1  d-lg-inline  d-md-none">
                  <img src="../../../assets/img/sandy-millar-8vaQKYnawHw-unsplash.jpg" class="img-thumbnail">
                </div>
              </div>

              <div class="w-50 ms-lg-auto">
                <div class="d-flex flex-column gap-4">
                  <div class="fs-1">
                    &#9753;
                  </div>
                  <h2 class="title">About Our Wedding Planner</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ullam provident architecto obcaecati delectus, voluptatem illum accusantium id tempora ratione, possimus commodi. A voluptatibus laboriosam fugit repellat harum magni molestiae.</p>
                </div>
            </div>
            </div>

            <!-- <img src="../../../assets/img/Group 15112 (2).png" alt="Wedding Photos" class="wedd"> -->
          </div>

        </div>
