<div class = "bg d-flex flex-column justify-content-center">
  <span class=" pt-5 ps-5 fs-3 dark-gray-color">Hello Name <span >&#127995;  &#128075; </span></span>
  <div class="p-5 d-flex flex-column gap-5 ">
    <span class="lav-color fs-3">Add Hall</span>
    <div class="d-flex flex-row  w-100 h-auto">
      <section class="card py-4 bg-white h-auto d-flex flex-row align-items-center justify-content-center">
        <!-- <div class="d-flex flex-row justify-content-between h-auto w-100">
          <span class="fs-6 dark-gray-color"> Halls</span>
          <a [routerLink]="['/service_provider/Halls/add_Hall']"  class="text-decoration-none dark-gray-color">&#10020;</a>
        </div> -->
        <!-- <a [routerLink]="['/service_provider/Halls/add_Hall']" class="d-flex flex-row align-items-center justify-content-center text-decoration-none light-gray-color text-center">
          <mat-icon class="fs-1 w-100 h-100">add_circle</mat-icon>
        </a> -->
        <!-- <div class="fs-1 lav-color text-center h-auto w-100">
          {{halls_count}}
        </div> -->
      </section>
      <section>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>

