<section id="footer" class="container-fluid pt-3 bg-white ">
  <!---------------------- start footer line --------------------------------->
  <div class="d-flex flex-row-reverse align-items-center">
    <span class="w-46"></span>
    <h2 class="me-3 fw-bolder fs-3">Footer</h2>
  </div>
  <!---------------------- end footer line --------------------------------->
 </section>

<section class="container-fluid  pt-5 pb-4 light-lav-background">
  <div class="container pb-5 border-bottom d-flex flex-row gap-5 flex-wrap justify-content-between">
    <!---------------------- start 1 section in footer--------------------------------->
    <section class="d-flex flex-column w-size gap-3">
      <div>
        <img src="../../../assets/img/Logoo.png" alt="Logo Photo" class="img-fluid">
      </div>
      <p class="fs-5 light-gray-color">
        Weddings are a day to celebrate the beauty of your love and life together and it would be an honor to be a part of making your wedding
      </p>
      <div class="d-flex flex-row align-items-center flex-nowrap w-100">
        <a href="#" class="text-decoration-none">
          <i class="fa fa-facebook-official icon dark-gray-color" aria-hidden="true"></i>
        </a>
        <a href="#" class="text-decoration-none">
          <i class="fa fa-instagram icon dark-gray-color" aria-hidden="true"></i>
        </a>
        <a href="#" class="text-decoration-none">
          <i class="fa fa-youtube icon dark-gray-color" aria-hidden="true"></i>
        </a>
      </div>
    </section>
    <!---------------------- end 1 section in footer--------------------------------->

    <div class="w-size d-flex flex-row justify-content-between align-self-center">
      <!---------------------- start 2 section in footer--------------------------------->
      <section class="d-flex flex-column  gap-4 ">
        <h4 class="text-uppercase fw-bolder dark-gray-color">Menu</h4>
        <a href="" class="text-decoration-none light-gray-color">Home</a>
        <a href="" class="text-decoration-none light-gray-color">About Us</a>
        <a href="" class="text-decoration-none light-gray-color">Services</a>
        <a href="" class="text-decoration-none light-gray-color">Gallery</a>
        <a href="" class="text-decoration-none light-gray-color">Contact</a>
      </section>
      <!---------------------- end 2 section in footer--------------------------------->

      <!---------------------- start 3 section in footer--------------------------------->
      <section class="d-flex flex-column gap-4">
        <h4 class="text-uppercase fw-bolder dark-gray-color">Services</h4>
        <a href="" class="text-decoration-none light-gray-color">Reservations halls</a>
        <a href="" class="text-decoration-none light-gray-color">Reservation Makup artist</a>
        <a href="" class="text-decoration-none light-gray-color">Show Offers From Service Provider</a>
        <a href="" class="text-decoration-none light-gray-color">Show Services about Wedding</a>
      </section>
      <!---------------------- end 3 section in footer--------------------------------->
    </div>

    <!---------------------- start 4 section in footer--------------------------------->
    <div class="w-size d-flex justify-content-center flex-wrap gap-1">
        <img src="../../../assets/img/service-card (1).png" alt="Wedding Photo" class="img-fluid" >
    </div>
    <!---------------------- start 4 section in footer--------------------------------->

  </div>
</section>
<section class="container-fluid light-lav-background">
  <div class="container w-100 d-flex flex-column justify-content-start align-items-center gap-2">
    <p class="p-line-height text-uppercase fw-bolder fs-6 light-gray-color">FROM DAY ONE TO </p>
    <div>
      <img src="../../../assets/img/Group 1.png" alt="" id="imggg">
    </div>
  </div>
</section>

<section class="container-fluid bg-white">
  <div class="w-100 text-center">
    <p class="py-2">
         Copyright &nbsp; <span class="fw-bold border-0 px-2"> &copy; 2023 </span> All Rights Reserved Designed By &nbsp;<span class="text-primary border-0 px-1"> Team Of True Love</span>
    </p>
</div>
</section>

<div class="container-fluid ask">

</div>
     <!-- -------------------- start footer section --------------------------------->

     <!-- <div class="container-fluid p-3 light-lav-background">
        <section class="container mt-4 ms-5 me-5 row d-flex justify-content-center align-items-start flex-wrap gap-4 border-bottom border-dark mb-3 pb-4 "> -->
            <!---------------------- start 1 section in footer--------------------------------->
            <!-- <div class="col-lg-3 col-md-5 col-sm-12 ">
                <img src="../../../assets/img/Logoo.png" alt="Logo Photo" class="img-fluid">
                <p class="fs-5">
                    Weddings are a day to celebrate the beauty of your love and life together and it would be an honor to be a part of making your wedding
                </p>
                <div class="col-12 mt-4">
                    <a href="" class="text-decoration-none">
                        <span class="badge text-white">
                            <i class="fa-brands fa-facebook-f text-dark display-6"></i>
                        </span>
                    </a>

                    <a href="" class="text-decoration-none">
                        <span class="badge  text-white ">
                            <i class="fa-brands fa-instagram text-dark display-6"></i>
                        </span>
                    </a>

                    <a href="" class="text-decoration-none">
                        <span class="badge text-white ">
                            <i class="fa-brands fa-tiktok text-dark display-6"></i>
                        </span>
                    </a>

                    <a href="" class="text-decoration-none">
                        <span class="badge text-white ">
                            <i class="fa-brands fa-youtube text-dark display-6"></i>
                        </span>
                    </a>

                    <a href="" class="text-decoration-none">
                        <span class="badge  text-white">
                            <i class="fa-brands fa-x-twitter text-dark display-6"></i>
                        </span>
                    </a>
                </div>
            </div> -->
            <!---------------------- end 1 section in footer--------------------------------->

            <!---------------------- start 2 section in footer--------------------------------->
            <!-- <div class="col-lg-2 col-md-5 col-sm-12 d-flex justify-content-center flex-wrap gap-4 mt-3"  >
                <h6 class="col-12 text-uppercase fw-bolder text-dark">Menu</h6>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Home</a>
                </div>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">About Us</a>
                </div>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Services</a>
                </div>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Gallery</a>
                </div>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Contact</a>
                </div>
            </div> -->
            <!---------------------- end 2 section in footer--------------------------------->

            <!---------------------- start 3 section in footer--------------------------------->
            <!-- <div class="col-lg-2 col-md-5 col-sm-12 d-flex justify-content-center flex-wrap gap-4 mt-3">
                <h6 class="col-12 text-uppercase fw-bolder text-dark">Our Services</h6>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Web Design </a>
                </div>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Web Development </a>
                </div>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Product Management </a>
                </div>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Marketing </a>
                </div>
                <div class="col-12">
                    <a href="" class="text-decoration-none text-dark">Graphic Design </a>
                </div>
            </div> -->
            <!---------------------- end 3 section in footer--------------------------------->

            <!---------------------- start 4 section in footer--------------------------------->
            <!-- <div class="col-lg-4 col-md-5 col-sm-12 d-flex justify-content-center flex-wrap gap-1">
                <img src="../../../assets/img/service-card (1).png" alt="Wedding Photo" class="img-fluid" >
            </div> -->
            <!---------------------- end 4 section in footer--------------------------------->
        <!-- </section>

        <div class="d-flex flex-column text-decoration-none text-center align-items-center">
           <p class="text-uppercase fw-bolder">FROM DAY ONE TO </p>
           <img src="../../../assets/img/Group 1.png" alt="" id="imggg">
        </div>
    </div> -->
    <!---------------------- end footer section --------------------------------->

    <!---------------------- Start ection end ---------------------------------->
    <!-- <div class="container-fluid ask">
        <div class="ps-5 pt-3 pb-3 mt-4 ms-5 me-5 row d-flex justify-content-between align-items-center flex-wrap">
            <p class="col-lg-12 ms-lg-3 col-md-12 text-center">
                 Copyright <span class="fw-bold">&copy;2023</span> All Rights Reserved Designed By <span class="text-primary"> Team Of True Love</span>
            </p>
        </div>
    </div> -->
    <!---------------------- end section end --------------------------------->
