a{
  color: var(--white);
  transition: all .5s ease-in-out;
}
a:hover{
  background-color: var(--white);
  color: var(--lavandar-color);
  border: 1px solid var(--lavandar-color);
  transform: rotate(360deg);
  transition: all .5s ease-in-out;
}
