<div class = "bg d-flex flex-column justify-content-center">
  <span class=" pt-5 ps-5 fs-3 dark-gray-color">Hello {{UserName}} <span >&#127995;  &#128075; </span></span>
  <div class="p-5 d-flex flex-column gap-5 ">
    <span class="lav-color fs-3">Add Hall</span>
    <div class="d-flex flex-column align-items-center gap-4 w-100 h-auto">
      <section class="w-100 ">
        <div class="card py-4 bg-white h-auto d-flex flex-row align-items-center justify-content-center">
          <a routerLink='/service_provider/Halls/add_Hall' class="d-flex flex-row align-items-center justify-content-center text-decoration-none light-gray-color text-center">
            <mat-icon class="fs-1 w-100 h-100">add_circle</mat-icon>
          </a>
        </div>
      </section>

      <section class="align-self-center w-100 table-responsive">
        <table class="table table-hover" >
          <thead>
            <tr>
              <th scope="col" class="light-lav-color">Name</th>
              <th scope="col" class="light-lav-color">Location</th>
              <th scope="col" class="light-lav-color">Max Capacity</th>
              <th scope="col" class="light-lav-color">Min Capacity</th>
              <th scope="col" class="light-lav-color">Personal Price</th>
              <th scope="col" class="light-lav-color">Open Buffet</th>
              <th scope="col" class="light-lav-color">Set Menue</th>
              <th scope="col" class="light-lav-color">High Tea</th>
              <th scope="col" class="light-lav-color">Description</th>
              <th scope="col" class="light-lav-color">status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jacob</td>
              <td>Thornton</td>
              <td></td>
              <td>Mark</td>
              <td>Otto</td>
              <td></td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td></td>
              <td>Jacob</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
