
<div id="header" class="container-fluid d-flex align-items-center justify-content-between header">

  <div class="flower w-md-25 w-sm-50">
    <img src="../../../assets/img/flowerbg.png" class="img-fluid">
  </div>

  <div class="d-flex flex-column w-header-text-md">
    <h6 class="text-secondary fs-6">— Hello and Welcome,</h6>
    <h1 class="header-text fs-s-5 fw-bolder mb-5">
      Plan Your <br>
      <span class="lav-color">Dream Wedding</span> <br>
      With Us
    </h1>
    <p class="pe-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Sed dapibus placerat velit. Donec in porttitor elit.
      Suspendisse accumsan iaculis tincidunt.
    </p>
    <section></section>
  </div>

  <div class="couple d-none d-lg-block d-md-block">
    <img class="img-fluid" src="../../../assets/img/headerImg.png">
  </div>
</div>
